.nomesecao{
    color: #363636;
    font-size: 3.75vh;
    font-family:'Open Sans SemiBold', sans-serif;
    padding: 9.66vw 19.47vh;
}
.embarque{
    color: #ffeb33
}
.paragrafo{
    color: #363636;
    font-size: 2.3vh;
    font-family: 'Open Sans', sans-serif;
    padding: 0vw 20.8vh;

}
.paragrafoatencao{
    height: 8.5vh;
    width: 33vw;
    color: #363636;
    background-color: #5ce1e6;
    font-family: 'Open Sans SemiBold', sans-serif;
    margin-left: 10vw;
    text-align: center;
}
.pc{
    width: 9vw;
    margin-right: 6.5cm;
    padding-top: 1.1cm;
    float: right;
}
.boardingpass{
    width: 8.98vw;
    float:right;
    margin-right:-29vw;
    margin-top: 30vh;
    overflow:hidden;
}
.circle1{
    background-color: #ffeb3383;
    height: 31vh;
    width: 14vw;
    border-radius:50%;
    max-width:36em;
    margin-right:-11.5vw;
    float: right;
    overflow:hidden;
}
.circle2{
    background-color: #5ce1e67e;
    height: 30vh;
    width: 14vw;
    border-radius:50%;
    max-width:36em;
    margin-right:-34.3vw;
    margin-top: 24vh;
    float: right;
    overflow:hidden;
}

