.nomesecao{
    color: #363636;
    font-size: 27px;
    font-family:'Open Sans SemiBold', sans-serif;
    padding: 40px 140px;
}

.profile1{
    width:70px;
    margin-left: 140px;
    
}
.usuario1{
    font-size: 14px;
    font-family: 'Open Sans SemiBold', sans-serif;
    margin-left: 220px;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-640%, 6930%);
}
.comentario1{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 223px;
    margin-top: -80px;
}
.interacoes1{
    font-size: 14px;
    font-family: 'Open Sans SemiBold', sans-serif;
    color: #5ce1e6 
}
.profile2{
    width: 65px;
    margin-left:230px;
}

.usuario2{
    font-size: 14px;
    font-family: 'Open Sans SemiBold', sans-serif;
    margin-left: 220px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-580%, 7410%);
}

.comentario2{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 308px;
    margin-top: -80px;
}
.interacoes2{
    font-size: 13px;
    font-family: 'Open Sans SemiBold', sans-serif;
    color: #5ce1e6;
    margin-top: -30px;
    margin-left: 308px;
}
.usuario3{
    font-size: 14px;
    font-family: 'Open Sans SemiBold', sans-serif;
    margin-left: 220px;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-735%, 7890%);
}

.profile3{
    width: 65px;
    margin-left:230px;
}

.comentario3{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 308px;
    margin-top: -70px;
}
.interacoes3{
    font-size: 13px;
    font-family: 'Open Sans SemiBold', sans-serif;
    color: #5ce1e6;
    margin-top: -20px;
    margin-left: 308px;
}

.profile4{
    width: 65px;
    margin-left:230px;
}
.usuario4{
    font-size: 14px;
    font-family: 'Open Sans SemiBold', sans-serif;
    margin-left: 220px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-825%, 8310%);
}
.textoazul{
    color: #4eb9bd;
    font-family: 'Open Sans', sans-serif;
}
.titulocard{
    color: #363636;
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 14px;
    margin-top: -30px;
    margin-left: -10px;
}
.titulocard:hover{
    width: 550px;
}
.card{
    width: 650px;
    border: 2px solid #363636;
    border-radius: 30px;
    padding: 50px;
    margin-left: 150px; 
    margin-bottom: 10px;
}
.card:hover{
    width: 750px;
}
.botaoenvio{
    width: 100px;
    background-color: #5ce1e6;
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 13px;
    border-radius: 8px;
    color: #363636;
    margin-bottom: 10px;
    margin-left: 350px;
}
.botaoenvio{
    margin-left: 800px;
}