.missao10{
    height: 70px;
    width: 490px;
    color: #363636;
    background-color: #5ce1e6;
    font-family: 'Open Sans SemiBold', sans-serif;
    margin-left: 140px;
    font-size: 24px;
    padding-top: 21px;
    padding-inline-start: 20px;
    display: block;
    box-shadow: 5px 5px 2px #aaaaaa;
    margin-top: 10vh;
}
.missao20{
    height: 70px;
    width: 490px;
    color: #363636;
    background-color: #ffeb33;
    font-family: 'Open Sans SemiBold', sans-serif;
    margin-left: 140px;
    font-size: 24px;
    padding-top: 21px;
    padding-inline-start: 20px;
    display: block;
    box-shadow: 5px 5px 2px #aaaaaa;
    margin-top: 5vh;
}
.missao30{
    height: 70px;
    width: 490px;
    color: #363636;
    background-color: #5ce1e6;
    font-family: 'Open Sans SemiBold', sans-serif;
    margin-left: 140px;
    font-size: 24px;
    padding-top: 21px;
    padding-inline-start: 20px;
    display: block;
    box-shadow: 5px 5px 2px #aaaaaa;
    margin-top: 5.5vh;
}
.mail{
    width: 40px;
    transform: translate(1200%, -385%);
}
.linkedin{
    width: 55px;
    transform: translate(1000%, -410%);
}
.mail2{
    width: 40px;
    transform: translate(1200%, -465%);
}
.linkedin2{
    width: 55px;
    transform: translate(1000%, -480%);
}
.mail3{
    width: 40px;
    transform: translate(1200%, -550%);
}
.linkedin3{
    width: 55px;
    transform: translate(1000%, -550%);
}
.infosf{
    height: 300px;
    width: 490px;
    color: #363636;
    background-color: #363636;
    font-family: 'Open Sans SemiBold', sans-serif;
    margin-left: 140px;
    font-size: 24px;
    padding-top: 21px;
    padding-inline-start: 20px;
    display: block;
    box-shadow: 5px 5px 2px #aaaaaa;
    margin-top: -85vh;
    transform: translate(10%, -95%);
    margin-left: 115vh;
}
.logosf{
    width:3em;
    transform: translate(1780%, -695%);
}
.nomeempresa{
    font-size: 5vh;
    font-family: 'Open Sans SemiBold', sans-serif;
    color: #f6f2dc;
    transform: translate(0%, -2400%);
    margin-left: 940px;
}
.emailempresa{
    font-size: 2.2vh;
    font-family: 'Open Sans SemiBold', sans-serif;
    color: #f6f2dc;
    margin-left: 790px;
    transform: translate(0%, -2450%);
}
.telefoneempresa{
    font-size: 2.2vh;
    font-family: 'Open Sans SemiBold', sans-serif;
    color: #f6f2dc;
    margin-left: 790px;
    transform: translate(0%, -2550%);
}
.enderecoempresa{
    font-size: 2.2vh;
    font-family: 'Open Sans SemiBold', sans-serif;
    color: #f6f2dc;
    margin-left: 790px;
    transform: translate(0%, -2660%);
}
.textoamarelo{
    color:#ffeb33
}
.imagemtop{
    width:11em;
    margin-left: 890px;
    transform: translate(0%, -620%);
}
.final{
    margin-top: -40em ;
}