
.imagemcentral1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 16%;
    margin-top: 20px;
    color-adjust: #5ce1e6;
    filter: invert(99%) sepia(93%) saturate(307%) hue-rotate(135deg) brightness(94%) contrast(92%);
}
.circuloan1{
    background-color: #ffeb33;
    height: 200px;
    width: 200px;
    border-radius:50%;
    margin-top: -220px;
    margin-left: 60px;
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 75px 30px;
}

.circuloan2{
    background-color: #ffeb33;
    height: 200px;
    width: 200px;
    border-radius:50%;
    margin-top: -200px;
    margin-left: 310px;
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 85px 30px;
}

.circuloan3{
    background-color: #ffeb33;
    height: 200px;
    width: 200px;
    border-radius:50%;
    margin-top: -200px;
    margin-left: 840px;
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 80px 20px;
}
.circuloan4{
    background-color: #ffeb33;
    height: 200px;
    width: 200px;
    border-radius:50%;
    margin-top: -200px;
    margin-left: 1100px;
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 80px 10px;
}
.fundoantartida{
    opacity:1;
    position: relative;
    text-align: center;
    color: white;
}
.convite1{
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 4.5vh;
    text-shadow: 2.25px 2.25px #000000;
    color: #ffeb33;
    background-color: #363636a6;
    padding: 8px 8px;
    position: absolute;
    top: 35px;
    right: 370px;
}
.circuloan1:hover{
    background-color: #5ce1e6;
}
.circuloan2:hover{
    background-color: #5ce1e6;
}
.circuloan3:hover{
    background-color: #5ce1e6;
}
.circuloan4:hover{
    background-color: #5ce1e6;
}
@media only screen and (max-width: 1010px) {
    .imagemcentral1{
        margin-right: 0;
        margin-top: 380px;
        width: 30%;
    }
    .circuloan1{
        background-color: #5ce1e6;
        margin-top: -640px;
    }
    .circuloan2{
        background-color: #5ce1e6;
        margin-left: 60px;
        margin-top: 40px;
    }
    .circuloan3{
        background-color: #5ce1e6;
        margin-left: 60px;
        margin-top: 40px;
    }
    .circuloan4{
        background-color: #5ce1e6;
        margin-left: 60px;
        margin-top: 40px;
    }
    .circuloan1:hover{
        background-color: #ffeb33;
    }
    .circuloan2:hover{
        background-color: #ffeb33;
    }
    .circuloan3:hover{
        background-color: #ffeb33;
    }
    .circuloan4:hover{
        background-color: #ffeb33;
    }
}