
.imagemcentral{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 16%;
    margin-top: 20px;
    color-adjust: #5ce1e6;
    filter: invert(99%) sepia(93%) saturate(307%) hue-rotate(135deg) brightness(94%) contrast(92%);
}

.circuloaf1{
    background-color: #ffeb33;
    height: 200px;
    width: 200px;
    border-radius:50%;
    margin-top: -220px;
    margin-left: 60px;
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 85px 30px;
}

.circuloaf2{
    background-color: #ffeb33;
    height: 200px;
    width: 200px;
    border-radius:50%;
    margin-top: -200px;
    margin-left: 310px;
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 85px 30px;
}

.circuloaf3{
    background-color: #ffeb33;
    height: 200px;
    width: 200px;
    border-radius:50%;
    margin-top: -200px;
    margin-left: 840px;
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 70px 20px;
}
.circuloaf4{
    background-color: #ffeb33;
    height: 200px;
    width: 200px;
    border-radius:50%;
    margin-top: -200px;
    margin-left: 1100px;
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 50px 10px;
}
.fundoafrica{
    opacity:1;
    position: relative;
    text-align: center;
    color: white;

}
.secao{
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 4.5vh;
    margin-left: 5.5vw;
    margin-top: 5vh;
    color: #363636;
}
.convite{
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 4.5vh;
    text-shadow: 2.25px 2.25px #000000;
    color: #ffeb33;
    background-color: #363636a6;
    padding: 8px 8px;
    position: absolute;
    top: 15px;
    right: 390px;
}
.imgbarra{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-inline-start: -4em;
    margin-bottom: 40px;
}
.circuloaf1:hover{
    background-color: #5ce1e6;
}
.circuloaf2:hover{
    background-color: #5ce1e6;
}
.circuloaf3:hover{
    background-color: #5ce1e6;
}
.circuloaf4:hover{
    background-color: #5ce1e6;
}
@media only screen and (max-width: 1010px) {
    .imagemcentral{
        margin-right: 0;
        margin-top: 380px;
        width: 30%;
    }
    .circuloaf1{
        background-color: #5ce1e6;
        margin-top: -640px;
    }
    .circuloaf2{
        background-color: #5ce1e6;
        margin-left: 60px;
        margin-top: 40px;
    }
    .circuloaf3{
        background-color: #5ce1e6;
        margin-left: 60px;
        margin-top: 40px;
    }
    .circuloaf4{
        background-color: #5ce1e6;
        margin-left: 60px;
        margin-top: 40px;
    }
    .circuloaf1:hover{
        background-color: #ffeb33;
    }
    .circuloaf2:hover{
        background-color: #ffeb33;
    }
    .circuloaf3:hover{
        background-color: #ffeb33;
    }
    .circuloaf4:hover{
        background-color: #ffeb33;
    }
}