.fotinho{
    width:25vh;
    transform: translate(0%, -40%);
    margin-left: 17vh;
}
.nomezinho{
    color: #363636;
    font-size: 3vh;
    font-family:'Open Sans SemiBold', sans-serif;
    transform: translate(0%, 320%);
    margin-left: 22vw;
}
.nomezinho1{
    color: #363636;
    font-size: 2.5vh;
    font-family:'Open Sans', sans-serif;
    transform: translate(0%, 300%);
    margin-left: 22vw;
}
.nomezinho2{
    color: #363636;
    font-size: 2.5vh;
    font-family:'Open Sans', sans-serif;
    transform: translate(0%, 300%);
    margin-left: 22vw;
}
.perfil1dev{
    width: 25vh;
    transform: translate(0%, -90%);
    margin-left: 180vh;
}
.nomezinho1dev{
    color: #363636;
    font-size: 2.5vh;
    font-family:'Open Sans', sans-serif;
    transform: translate(0%, -120%);
    margin-left: 62vw;
}
.nomezinhodev1{
    color: #363636;
    font-size: 3vh;
    font-family:'Open Sans SemiBold', sans-serif;
    transform: translate(0%, -140%);
    margin-left: 67vw;
}
.perfil2dev{
    width:25vh;
    transform: translate(0%, -160%);
    margin-left: 17vh;
}
.nomezinho2dev{
    color: #363636;
    font-size: 2.5vh;
    font-family:'Open Sans', sans-serif;
    transform: translate(0%, -600%);
    margin-left: 22vw;
}
.nomezinhodev2{
    color: #363636;
    font-size: 3vh;
    font-family:'Open Sans SemiBold', sans-serif;
    transform: translate(0%, -600%);
    margin-left: 22vw;
}
.sobrenosfinal{
    margin-top: -400px;
}