.estilobotao{
    width: 65px;
    height: 30px;
    margin: 10px;
    background-color: #363636;
    box-shadow: 3px 3px 4px #9c9c9c;
    border-radius: 6px;
    margin-left: 70px;
    transition: all 100ms ease-in-out;
    color: #f6f2dc;
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 0.5em;

}
.estilobotao:hover{
    background-color: #5ce1e6;
}